<%= render 'shared/navbar' %>
<div class="index-background-img"></div>
<div class="container">
    <div class="searchbar">
      <%= form_tag powders_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-pill",
          placeholder: "查找药粉"
        %>
        <%= submit_tag "查询", class: "btn btn-primary" %>
      <% end %>
    </div>
  <div class="mx-5 my-1">
    <%= link_to "新增药品", new_powder_path, class:'btn btn-outline-primary'%>
  </div>
    <table class="px-5">
      <thead>
        <tr>
          <th><span class="long">首字母</span></th>
          <th>
            <span class="long">名称</span>
          </th>
          <th>
            <span class="long">库位</span>
          </th>
          <th>
            <span class="long" style="text-algin: center">库存</span>
          </th>
        </tr>
      </thead>
      <tbody>

      <% @powders.each do |powder| %>
      <%# if recogise same letter, next stop loop %>
      <tr>
        <td class="hour" rowspan="1" ><%= powder.pin_yin[0].upcase %></td>
        <td><%= link_to "#{powder.name}", powder_path(powder.id)%></td>
        <td><%= powder.location %></td>
        <td><%= powder.qty_onhand %></td>
      </tr>
      <% end %>
      </tbody>

    </table>
</div>
