<%= render 'shared/navbar' %>
<%# <div class="index-background-img"></div> %>
<div class="main-container mt-5">
    <div class="searchbar">
      <%= form_tag powders_path, method: :get, remote: true do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control rounded-pill",
          placeholder: "查找药粉"
        %>
        <%= submit_tag "查询", class: "btn btn-primary" %>
      <% end %>
    </div>
  <div class="btn-group mx-5 my-1" role="group" aria-label="filtering" id="filters-button-group">
    <%= link_to "新增药品", new_powder_path, class:'btn btn-primary', type:'button' %>
  </div>
  <div class="powder-table">
    <table class="px-5">
      <thead>
        <tr>
          <th>
            <span><%= link_to "首字母", sort: "pin_yin", class:"long table-column"%></span>
          </th>
          <th>
            <span>名称</span>
          </th>
          <th>
            <span><%= link_to "库位", sort: "location" %></span>
          </th>
          <th>
            <span><%= link_to "库存", sort: "qty_onhand" %></span>
          </th>
        </tr>
      </thead>
      <tbody class="powder-items" id="powder-items">
        <% @powders.each do |powder| %>
        <tr>
          <td class="hour" rowspan="1" ><%= powder.pin_yin[0].upcase %></td>
          <td><span id="powder-name"><%= link_to "#{powder.name}", powder_path(powder.id)%></span></td>
          <td><span id="location"><%= powder.location %></span></td>
          <td><span id="qty-onhand"><%= powder.qty_onhand %></span></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
