<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
  <div class="container-fluid">
    <%= link_to '/powders', class: "navbar-brand" do %>
      <%= image_tag "image.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to '供应商列表',suppliers_path, class: "btn btn primary nav-link"%>
          </li>
          <li class="nav-item active">
            <%= link_to '客户列表',customers_path, class: "btn btn primary nav-link"%>
          </li>
          <li class="nav-item active">
            <%= link_to '导出全部库存Excel', powders_path(format: :xlsx), class: "btn btn primary nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to '入库', import_powders_path, class:"btn btn primary nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to '出库', export_powders_path, class:"btn btn primary nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'Invoice',powders_path, class:"btn btn primary nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "退出", destroy_user_session_path, method: :delete , class:"nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "exportlist", new_export_list_path, class:"nav-link"%>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "登陆", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
