<% if false %>
  <%= link_to "登陆", new_user_session_path %>
  <% if user_signed_in? %>
    <p>欢迎 <%= current_user.user_name %></p>
  <% else %>
    <%= '需要登陆' %>
  <% end %>
  <h1>宝芝堂</h1>

  <div class="landing-buttons">
  <%= link_to "入库", class:"btn btn primary" %>
  <%= link_to "出库" , class:"btn btn primary"%>
  <%= link_to "查询", powders_path, class:"btn btn primary" %>
  <%= link_to "发票" , class:"btn btn primary"%>
  </div>
<% end %>
<div class="container">
  <div>
    <h1>宝芝堂</h1>
  </div>
  <div class="btn-controls">
    <%= link_to '全部库存导出', powders_path(format: :xlsx) %>
    <%= link_to '入库', import_powders_path, class:"btn btn primary" %>
    <%= link_to '出库', export_powders_path, class:"btn btn primary" %>
    <%= link_to "全部库存", powders_path, class:"btn btn primary" %>
    <%= link_to "发票" , class:"btn btn primary"%>
  </div>
</div>
