<%= render 'shared/navbar', export_lists: @export_list %>
<div class="index-background-img"></div>
<div class="export-list container mt-5">
  <h1 class="mt-5">创建出库单</h1>
  <div class="export-list-form">
    <%= simple_form_for @export_list, remote: true do |f| %>
      <%= f.input :powder_id, collection: Powder.sort_by_initial, label:'药品' %>
      <%= f.input :export_qty, label:'出库数量' %>
      <%= f.submit '添加药品', class:"btn btn-primary"%>
    <% end %>
  </div>
  <div class="button-group m-3">
    <%= link_to '导出出库单', export_lists_path(format: :xlsx), class: "btn btn-primary"%>
    <%= form_tag export_current_list_export_lists_path do %>
      <%= submit_tag "确认出库", class:"btn btn-primary" %>
    <% end %>
  </div>

  <div class="main-container">
    <table class="px-5">
      <thead>
        <th>名称</th>
        <th>出库数量</th>
        <th>库位</th>
        <th>现有库存</th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <% @export_lists.each do |item| %>
          <tr>
            <td class="hour" rowspan="1" ><%= @powders.find(item.powder_id).name %></td>
            <td><%= item.export_qty %></td>
            <td><%= @powders.find(item.powder_id).location %></td>
            <td><%= @powders.find(item.powder_id).qty_onhand %></td>
            <td>
              <%= link_to '修改', edit_export_list_path(item.id) %>
            </td>
            <td>
              <%= link_to '删除', export_list_path(item.id) ,method: :delete, data: { confirm: '确认？'} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
